.Question:hover {
    background-color: green;
}

#refill {
    cursor: pointer;
}

#refill:hover {
    color: blue;
    text-decoration: underline;
}
#ans {
    cursor: pointer;
}

#ans:hover {
    color: blue;
    text-decoration: underline;
    ;
}